<style>
.topnav {
    height: 100px;
    max-width: fit-content
    position: fixed;
    background-color: white;
    text-align: center

}

.topnav a {
    font-size: 42px;

}

.topnav input[type=text]{
        padding: 10px;
}
/*RSS Feed that displays every event in the SU and CNY area - 
nothing outside of there we want you to enjoy CNY
I want to focus on CNY and show others the beauty of this area!
*/

.recommended-events{
    font-size: 24;
    background-color: aquamarine;
    padding-inline: 20px;
}


.rss{
}

body {
    background-color: orange;
    margin: 2
}

h1 {
    text-align: center;
    color: black;
    font-size: 46;
    font-family: :Verdana, Geneva, Tahoma, sans-serif;
}


